<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          post jobs
        </div>
        <div class="card-body">
          <form action="" [formGroup]="jobForm" (submit)="handleSubmit(jobForm.value)" >
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Position</label>
                  <input type="text" class="form-control invalid" placeholder="Position" formControlName="position" required   />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Company</label>
                  <input type="text" class="form-control" placeholder="company" formControlName="company" required/>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Experience</label>
                  <input type="text" class="form-control" placeholder="Experience" formControlName="experience" required/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Place</label>
                  <input type="text" class="form-control" placeholder="Place" formControlName="place" required/>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Technology</label>
                  <input type="text" class="form-control" placeholder="Technology" formControlName="technology" required/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Note</label>
                  <input type="text" class="form-control" placeholder="Note" formControlName="note" required/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <button class="btn btn-primary" type="submit" [disabled]="! jobForm.valid">submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row post-job">
    <div class="col-md-6 offset-md-3">
      <div class="card mt-3" *ngFor="let j of jobs">
        <div class="card-body">
          <h5 class="card-title mb-0">
            {{j.position}}
          </h5>
          <p class="card-text mt-0">{{j.company}}</p>
          <p class="card-text">
            <span class="mr-2">experience: </span><span class="mr-5">{{j.experience}}</span>  <span class="mr-2">Place: </span><span>{{j.place}}</span>
          </p>
          <p class="card-text">
           <span class="mr-2">technology: </span> {{j.technology}}
          </p>
          <p class="card-text">
            {{j.note}}
          </p>
          <button id="delete" class="btn btn-primary" (click)="handleDelete(j.id)">delete</button>
          <button class="btn btn-primary ml-3" (click)="handleUpdate(j)">update</button>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>